<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/modal.css" type="text/css" />

    <title>Card Games</title>
  </head>
  <body>

    <% include ./partials/nav.ejs %>
    <% include ./partials/modal.ejs %>
    <div class="container">
      <h1 id="game-list">My Games</h1> <!-- List completed games of all users -->   
  
      <div class='game-types'>      
        <% for(let index in gameTypes) {  %>   
        <div class='my-games-toggle game-name type__<%= fileNames[index] %>' 
          data-gametype="<%= fileNames[index] %>"> <%= gameTypes[index] %> </div>
        <% } %>
      </div>
  
      <div class='tile-container'>
        <% for(let gameName of gameTypes) {  %> 
          <% for(let game of userGames) { %>
            <% if(game.name === gameName) { %>
            <% const showPlayers = game.players.filter(player => player !== accountName) %>
            <div class="tile tile__<%= game.file_name %> hidden">
              <% if (game.players.length <= 1) { %>
                <h3 class='tile-title'>Waiting for players to join%>...</h3>
                <p>Tell your friends!</p>
              <% } else { %>
                <h3 class='tile-title'>Playing with <%= showPlayers.join(', ') %>!</h3>
                <% if (game.game_state) { %>
                  <% const history = game.game_state.history %>
                  <% const playedRound = history[history.length - 1][accountName] !== null %>
                  <p><%= playedRound ? "Waiting for opponent's move..." : "Your turn to make a move!" %></p>
                <% } else { %>
                  <p>Go back to the game</p>
                <% } %>
              <% } %>
              <div class='tile-footer'>
                <a href='/games/<%= game.uuid %>'><button class='button button-primary'>Play</button></a>
                <button class='button button-primary share-game-button' data-uuid='<%= game.uuid %>'>Share</button>
              </div>
            </div>
            <% } %>
          <% }; %>
        <% } %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/scripts/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>  
    
    <script>

      $(document).ready(()=> {
        const toggleType = (gameType) => {
          $('.tile').addClass('hidden');
          $(`.tile__${gameType}`).removeClass('hidden');

          $('.my-games-toggle').removeClass('type-select');
          $(`.type__${gameType}`).addClass('type-select');
        };

        $('.my-games-toggle').each(function() {
          $(this).click(() => {
            toggleType($(this).data('gametype'));
          })
        })

        toggleType($(".game-types").children('div').first().data('gametype'));
        $('.nav-header [data-path="/room"]').addClass("nav-link-active");

        $('.share-game-button').each(function() {
          $(this).click(() => {
            const uuid = $('.share-game-button').data('uuid');
            const shareLink = window.location.origin + '/join/' + uuid;
            // $('#qrcode').qrcode(shareLink);  

            $("#qrcode").text('');
            let qrcode = new QRCode(document.getElementById("qrcode")); //, { width: 100, height: 100 });
            // qrcode.clear();
            qrcode.makeCode(shareLink);

            let accountName = $('.nav-name-tag').text().slice(3, -1);
            openModal('380px', '400px', `Scan to join ${accountName}'s game`, '');

            const SelectContent = (element) => {
            let doc = document;
            if (doc.body.createTextRange) {
                let range = document.body.createTextRange();
                range.moveToElementText(element);
                range.select();
            } else if (window.getSelection) {
                let selection = window.getSelection();
                let range = document.createRange();
                range.selectNodeContents(element);
                selection.removeAllRanges();
                selection.addRange(range);
            }
          }

          const drawing = $('#qrcode canvas')[0];
          if (drawing.getContext) {
              const context = drawing.getContext('2d');
              const imgURL = drawing.toDataURL("image/png");
              const image = document.createElement("img");
              image.src = imgURL;
              $('#qrcode').html(image);
          }

          const getSelectElements = (targetNode) => {
          if (window.getSelection) {
              //For chrome etc.
              let selection = window.getSelection();
              let range = document.createRange();
              range.selectNode(targetNode);
              selection.removeAllRanges();
              selection.addRange(range);
            } else if (document.body.createTextRange) {
              // For IE
              let range = document.body.createTextRange();
              range.moveToElementText(targetNode);
              range.select();
            }
          }

          $('.qrcode-copy-button').click(e => {
            getSelectElements($('#qrcode img')[0]);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
          })

          $('.linkurl-copy-button').click(() => {             
            const elem = document.createElement('textarea');
            elem.value = $("#qrcode").attr('title');  // link is added into title attribute
            document.body.appendChild(elem);
            elem.select();
            document.execCommand('copy');
            document.body.removeChild(elem);
          });

          });
        });

        const openModal = (width='40%', height='auto', title='Title', content='content') => {
          $("#myModal").css("display", "block");
          $(".modal-dialog").css("width", width);
          $(".modal-dialog").css("height", height);
          $(".modal-title").children('h4').text(title);
          $(".modal-body").children('p').text(content);
        }

        $(".close").click( () => {
          $("#myModal").css("display", "none");
        });

        // When the user clicks anywhere outside of the modal, close it
        $(window).click( (event) => {
          if (event.target.id == "myModal") {
            $("#myModal").css("display", "none");
          }
        });

      });
    </script>
  </body>

</html>